/* App.css */
body, h1, h2, h3, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Sfondo generale */
}

/* Header Styles */
.header-row h1, .header-col h1 {
  background: linear-gradient(to right, #007bff, #0056b3);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
}

.header-buttons, .header-buttons2 {
  display: flex;
}

.header-buttons button, .home-button {
  background: linear-gradient(to right, #d8ba0d, #d8e438);
  margin-left: 10px;
  color: #fff;
  border-color: black;
}

.header-buttons .home-button:hover {
  background: linear-gradient(to right, #ffd700, #ffd700);
  color: #000;
}

/* Common Styles for Both Pages */
.main-search-form, .job-card, .header-col {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Logo Styles */
.logo {
  max-width: 100px;
  height: auto;
  margin-right: 10px;
}
